@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

html {
	font-size: 62.5%;
}
body {
	font-size: 1.75em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222;
}
